  # My Jupyter Notebook on IBM Watson Studio

<b>Name Priyanka</b> <br>
Occupation Software Developer

<i>I like creating visulaization Dashbords and working with data and functional roles which involves more client or Business interaction <\i>

### Add two numbers

In [5]:
2 + 3

5

#Horizontal line
---
#Ordered List
<ol>
<li>Fish</li>
<li>Eggs</li>
<li>Milk</li>
</ol>

#links <br>
<a id = "Division_ID">My notebook</a>

<a href = "https://www.google.co.in">Google</a>

In [7]:
#Table

<table>
<tr>
<th>Name</th>
<th>age</th>
<th>city</th>
</tr>
<tr>
<th>Priya</th>
<th>27</th>
<th>Bangalore</th>
</tr>
<tr>
<th>Alaya</th>
<th>15</th>
<th>Mysore</th>
</tr>
</table>

In [8]:
#images

<img> <src = "https://www.dreamstime.com/stock-photo-autumn-fall-nature-scene-autumnal-park-beautiful-image77869343">